/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */

.example {
  font-family: sans-serif;
  padding: 50px;
}
.example h1 {
  font-size: 10vw;
  color: blue;
  margin: 0;
}
.example p {
  line-height: 1.6;
}

/* ========================================
 * My code
 * ======================================== */

/* -- Header --*/

.header {
  font-family: "Georgia", "Helvetica", sans-serif;
  color: black;
  font-size: 21px;
  padding-left: 3.5em;
  padding-right: 10em;
}
.img {
  padding-left: 5em;
}
.container {
  font-family: "Georgia", "Helvetica", sans-serif;
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 5em;
  grid-gap: 25px;
  padding-right: 5em;
}

/* -- Body -- */

.body-intro {
  padding-left: 5em;
  padding-right: 10em;
  margin-bottom: 30px;
  margin-top: 30px;
  font-family: "Georgia", "Helvetica", sans-serif;
  font-size: 16px;
}
.body-Ingredients {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-left: 5em;
  padding-right: 10em;
  margin-bottom: 60px;
  margin-top: 10px;
  /* type */
  font-family: "Georgia", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
}
.grid-Ingredients {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.body-Prep {
  padding-left: 5em;
  padding-right: 10em;
  margin-bottom: 60px;
  margin-top: 30px;
  font-family: "Georgia", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
}
.background {
  padding: 1% 8% 5%;
  background-color: #ffffff;
}
